@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque Bold';
  font-style: normal;
  font-weight: 400;
  src: local('Bricolage Grotesque Bold'), local('BricolageGrotesque Bold'),
    local('BricolageGrotesqueSemiBold'), local('Bricolage-Grotesque-Bold'),
    local('BricolageGrotesque-Bold');
  src: url('../assets/fonts/BricolageGrotesque-Bold.ttf') format('truetype');
}
