:root {
  --neutral-00: #fafafa;
  --neutral-90: #050505;

  --2xs: 4px;
  --xs: 8px;
  --s: 16px;
  --m: 24px;
  --l: 32px;
  --xl: 40px;
  --2xl: 56px;
  --3xl: 80px;

  font-size: 11.3vw;

  --mask-height: 1.2ex;

  --mask1-width: 36.8vw;
  --mask2-width: 50.5vw;
  --mask3-width: 20.5vw;
  --mask4-width: 15vw;
  --mask5-width: 28.5vw;
}

@media screen and (min-width: 50rem) {
  :root {
    font-size: 6.8vw;

    --mask-height: 1.4ex;

    --mask1-width: 33vw;
    --mask2-width: 16vw;
    --mask3-width: 24.8vw;
    --mask4-width: 56.2vw;
  }
}
